<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>
</head>
<body>
   <div th:fragment="plan_consumoForm(titulo, plan_consumo)" class="container border boder-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <label class="col-form.label">Tipo de Plan</label>
        <input class="form-control" type="text" id="nombre"
        name="tipo_plan" required th:value="${plan_consumo.tipo_plan}"/>

        <label class="col-form.label">Tasa</label>
        <input class="form-control" type="number" id="tasa"
        name="tasa" required th:value="${plan_consumo.tasa} "min="0" max="1" step="0.01"/>

        <label class="col-form.label">Minimo de Noches</label>
        <input class="form-control" type="number" id="min_noches"
        name="min_noches" required th:value="${plan_consumo.min_noches}"/>

        <label class="col-form.label">Maximo de Noches</label>
        <input class="form-control" type="number" id="max_noches"
        name="max_noches" required th:value="${plan_consumo.max_noches}"/>
        
        <div class="text-center">
            <input type="submit" value="Guardar" class="btn btn-primary"/>
            <a th:href="@{/planes_consumo}" class="btn btn btn-primary">Cancelar</a>
        </div>
   </div>
</body>
</html>