<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Ingreso de Clientes</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Id Habitacion</th>
                    <th>Numero Documento</th>
                    <th>Tipo Documento</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    
                </tr>
            </thead>
            <th:block th:each="check_ins:${check_ins}">
                <tr>
                    <td th:text="${check_ins.id}"></td>
                    <td th:text="${check_ins.id_habitacion}"></td>
                    <td th:text="${check_ins.num_doc}"></td>
                    <td th:text="${check_ins.tipo_doc}"></td>
                    <td th:text="${check_ins.fecha}"></td>
                    <td th:text="${check_ins.hora}"></td>
                    <td>
                        <a th:href="@{check_ins/{id}/edit(id=${check.ins.id})}">
                            Editar
                        </a>
                        <a th:href="@{check_ins/{id}/delete(id=${check_ins.id})}"
                        onclick="return confirm('¿Estas seguro de borrar este registro de ingreso?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}"class="btn btn-primary">Volver atrás</a>
            <a th:href="@{/check_ins/new}"class="btn btn-primary">Añadir Check-in</a>
        </div>
    </div>
</body>
</html>