<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'planes_consumo/'+${id}+'/edit/save'}" th:object="${plan_consumo}"
    method="post">
    <div th:replace="~{fragments/plan_consumoForm ::plan_consumoForm(titulo='Editar Plan de Consumo',plan_consumo=${plan_consumo})}">
        
    </div>

</form>
</body>
</html>