<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Habitaciones</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacion : ${habitaciones}">
                    <td th:text="${habitacion.id}"></td>
                    <td th:text="${habitacion.tipo.id}"></td>
                    <td>
                        <a th:href="@{/habitaciones/{id}/edit(id=${habitacion.id})}" class="btn btn-primary">Editar</a>
                        <a th:href="@{/habitaciones/{id}/delete(id=${habitacion.id})}" onclick="return confirm('¿Estás seguro de borrar esta habitación?')" class="btn btn-primary">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
            <a th:href="@{/habitaciones/new}" class="btn btn-primary">Añadir Habitación</a>
        </div>
    </div>
</body>
</html>