<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoteles</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>

</head>
<body>
    <div class="container mx-auto w-25">
        <h1>Hoteles</h1>
        <img th:src="@{/images/logo.png}" width="250" />
        <div>
            <a th:href="@{/servicios}" class="btn btn-primary">Servicios</a>
            <a th:href="@{/planes_consumo}" class="btn btn-primary">Planes de Consumo</a>
            <a th:href="@{/habitaciones}" class="btn btn-primary">Habitaciones</a>
            <a th:href="@{/reservas_habitacion}" class="btn btn-primary">Reservas Habitacion</a>
            <a th:href="@{/tipo_habitacion}" class="btn btn-primary">Tipos Habitacion</a>
            <a th:href="@{/tipos_usuario}" class="btn btn-primary">Tipos Usuarios</a>
            <a th:href="@{/usuarios}" class="btn btn-primary">Usuarios</a>
            <a th:href="@{/reservas_servicio}" class="btn btn-primary">Reservas Servicio</a>
            <a th:href="@{/check_ins}" class="btn btn-primary">Check Ins</a>

        </div>

    </div>
    
</body>
</html>