<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Planes de Consumo</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo de plan</th>
                    <th>Tasa</th>
                    <th>Número mínimo de noches</th>
                    <th>Número máximo de noches</th>
                </tr>
            </thead>
            <th:block th:each="plan_consumo:${plan_consumo}">
                <tr>
                    <td th:text="${plan_consumo.id}"></td>
                    <td th:text="${plan_consumo.tipo_plan}"></td>
                    <td th:text="${plan_consumo.tasa}"></td>
                    <td th:text="${plan_consumo.min_noches}"></td>
                    <td th:text="${plan_consumo.max_noches}"></td>
                    <td>
                        <a th:href="@{plan_consumo/{id}/edit(id=${plan_consumo.id})}">
                            Editar
                        </a>
                        <a th:href="@{plan_consumo/{id}/delete(id=${plan_consumo.id})}"
                        onclick="return confirm('¿Estas seguro de borrar este plan?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}"class="btn btn-primary">
            Volver atrás
            </a>
        </div>
    </div>
</body>
</html>