<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimiento 11</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Las habitaciones menos solicitadas en el último año</h1>
        <p>:</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Semana</th>
                    <th>Habitación menos solicitada</th>
                    <th>Reservaciones en la semana</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacion:${habitaciones_menos_solicitadas}">
                    <td th:text="${habitacion.semana}"></td>
                    <td th:text="${habitacion.idHabitacion}"></td>
                    <td th:text="${habitacion.reservaciones}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/requerimiento11}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>