<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario Reservas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1> Consumo del Hotel</h1>
        <p>El consumo de los clientes para la consulta deseada son:</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Documento</th>
                    <th>Tipo de Documento</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente:${clientes_no_consumidores}">
                    <td th:text="${cliente.num_doc}"></td>
                    <td th:text="${cliente.tipo_doc}"></td>
                    <td th:text="${cliente.nombre}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>