<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimiento 5</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Mostrar el consumo en HotelAndes por un usuario dado, en un rango de fechas indicado </h1>
        <p>:</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Cliente</th>
                    <th>Tipo de Doc</th>
                    <th>Nombre</th>
                    <th>Id Servicio</th>
                    <th>Servicio</th>
                    <th>Fecha</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="consumo:${consumos_usuario}">
                    <td th:text="${consumo.numDoc}"></td>
                    <td th:text="${consumo.tipoDoc}"></td>
                    <td th:text="${consumo.nombreCliente}"></td>
                    <td th:text="${consumo.idServicio}"></td>
                    <td th:text="${consumo.nombreServicio}"></td>
                    <td th:text="${consumo.fecha}"></td>
                    <td th:text="${consumo.costo}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>