<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas de Habitacion</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Reserva Habitacion</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id Habitacion</th>
                    <th>Id Usuario</th>
                    <th>Fecha Entrada</th>
                    <th>Fecha Salida</th>
                    <th>Plan Consumo</th>
                    <th>Numero de Personas</th>
                    <th>Costo</th>
                    <th>Id Cuenta</th>
                    
                </tr>
            </thead>
            <th:block th:each="reservas_habitacion:${reservas_habitacion}">
                <tr>
                    <td th:text="${reservas_habitacion.id_habitacion}"></td>
                    <td th:text="${reservas_habitacion.id_usuario}"></td>
                    <td th:text="${reservas_habitacion.fecha_entrada}"></td>
                    <td th:text="${reservas_habitacion.fecha_salida}"></td>
                    <td th:text="${reservas_habitacion.plan_consumo}"></td>
                    <td th:text="${reservas_habitacion.num_personas}"></td>
                    <td th:text="${reservas_habitacion.costo}"></td>
                    <td th:text="${reservas_habitacion.id_cuenta}"></td>
                    <td>
                        <a th:href="@{reservas_habitacion/{id_habitacion}/edit(id_habitacion=${reservas_habitacion.id_habitacion})}">
                            Editar
                        </a>
                        <a th:href="@{reservas_habitacion/{id_habitacion}/delete(id_habitacion=${reservas_habitacion.id_habitacion})}"
                        onclick="return confirm('¿Estas seguro de borrar esta reserva?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}"class="btn btn-primary">Volver atrás</a>
            <a th:href="@{/reservas_habitacion/new}"class="btn btn-primary">Añadir Reserva</a>
        </div>
    </div>
</body>
</html>