<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Usuario</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Tipos de Usuario</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    
                </tr>
            </thead>
            <th:block th:each="tipo_usuario:${tipos_usuario}">
                <tr>
                    <td th:text="${tipos_usuario.id}"></td>
                    <td th:text="${tipos_usuario.nombre}"></td>
                    <td>
                        <a th:href="@{tipos_usuario/{id}/edit(id=${tipos_usuario.id})}">
                            Editar
                        </a>
                        <a th:href="@{tipos_usuario/{id}/delete(id=${tipos_usuario.id})}"
                        onclick="return confirm('¿Estas seguro de borrar este tipo de usuario?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}"class="btn btn-primary">Volver atrás</a>
            <a th:href="@{/tipos_usuario/new}"class="btn btn-primary">Añadir Tipoo de Usuario</a>
        </div>
    </div>
</body>
</html>