<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1>Lista de Usuarios</h1>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Numero Documento</th>
                    <th>Tipo Documento</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Contrasenia</th>
                    
                </tr>
            </thead>
            <th:block th:each="usuarios:${usuarios}">
                <tr>
                    <td th:text="${usuarios.num_doc}"></td>
                    <td th:text="${usuarios.tipo_doc}"></td>
                    <td th:text="${usuarios.tipo}"></td>
                    <td th:text="${usuarios.nombre}"></td>
                    <td th:text="${usuarios.email}"></td>
                    <td th:text="${usuarios.contrasenia}"></td>
                    <td>
                        <a th:href="@{usuarios/{num_doc}/edit(num_doc=${usuarios.num_doc})}">
                            Editar
                        </a>
                        <a th:href="@{usuarios/{num_doc}/delete(num_doc=${usuarios.num_doc})}"
                        onclick="return confirm('¿Estas seguro de borrar este usuario?')">
                            Borrar
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href="@{/}"class="btn btn-primary">Volver atrás</a>
            <a th:href="@{/usuarios/new}"class="btn btn-primary">Añadir Usuario</a>
        </div>
    </div>
</body>
</html>