<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tipo de Habitacion</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'/tipoHabitacion/'+${tipoHabitacion.tipo}+'/edit/save'}" th:object="${tipoHabitacion}"
    method="post">
    <div th:replace="editarTipoHabitacionForm :: editarTipoHabitacionForm(titulo='Editar tipoHabitacion', tipoHabitacion=${tipoHabitacion})">
        
    </div>

</form>
</body>
</html>