<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Requerimiento 2</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <h2>Ingresa la Fecha de Inicio y Fin</h2>
    <form th:action="@{/requerimiento2}" method="post">
        Fecha de Inicio (DD/MM/YYYY): <input type="text" name="fechaInicial"><br>
        Fecha de Fin (DD/MM/YYYY): <input type="text" name="fechaFinal"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
