<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimiento 1</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div>
        <h1> Dinero Recolectado por cada habitación en cada servicio</h1>
        <p>Las habitaciones del hotel y el dinero recolectado en servicios:</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Habitacion</th>
                    <th>Nombre del Servicio</th>
                    <th>Total Ganancias</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="dinero_recolectado:${recoleccion}">
                    <td th:text="${dinero_recolectado.pk.idHabitacion.id}"></td>
                    <td th:text="${dinero_recolectado.pk.nombreServicio}"></td>
                    <td th:text="${dinero_recolectado.totalGanancia}"></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>