<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requerimiento 3</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
</head>
<body>
    <div>
        <h1> Clientes Excelentes </h1>
        <p>Los clientes excelentes del hotel son:</p>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Num Doc</th>
                    <th>Tipo Doc</th>
                    <th>Categoria Cliente Excelente</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="clienteExcelente:${clientesExcelentes}">
                    <td th:text="${clienteExcelente.numDoc}"></td>
                    <td th:text="${clienteExcelente.tipoDoc}"></td>
                    <td th:text="${clienteExcelente.categoria}"></td>
                </tr>
            </tbody>
        </table>
        <div>
        <a th:href="@{/}" class="btn btn-primary">Volver atrás</a>
        </div>
    </div>
</body>
</html>