<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reserva Habitacion</title>
    <link rel="stylesheet"type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <form th:action="@{'reservas_habitacion/'+${id}+'/edit/save'}" th:object="${reserva_habitacion}"
    method="post">
    <div th:replace="~{fragments/reserva_habitacionForm ::reserva_habitacionForm(titulo='Editar reserva habitacion',reserva_habitacion=${reserva_habitacion})}">
        
    </div>

</form>
</body>
</html>