<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de habitaciones</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

<div class="container mt-3">
    <h1>Tipos de habitaiciones</h1>

    <!-- Botón para redirigir al formulario de creación de tipo de habitacion -->
    <a th:href="@{/startCrearTipoHabitacion}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nuevo Tipo de Habitacion</a>

    <!-- Botón para redirigir al formulario de creación de tipo de habitacion -->
    <a th:href="@{/startActualizarTipoHabitacion}" class="btn btn-primary" style="margin-bottom: 38px;">Actualizar Tipo de Habitacion</a>

    <!-- Botón para redirigir al formulario de creación de tipo de habitacion -->
    <a th:href="@{/startEliminarTipoHabitacion}" class="btn btn-primary" style="margin-bottom: 38px;">Eliminar Tipo de Habitacion</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre tipo de habitacion</th>
                <th>Costo por noche</th>
                <th>Capacidad</th>
                <th>Dotaciones</th>
                <th>Habitaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tipoHabitacion : ${tiposHabitaciones}">
                <td th:text="${tipoHabitacion.tipo}"></td>
                <td th:text="${tipoHabitacion.costo_por_noche}"></td>
                <td th:text="${tipoHabitacion.capacidad}"></td>
                <td>
                    <ul>
                        <li th:each="dotacion : ${tipoHabitacion.dotaciones}" th:text="${dotacion}"></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li th:each="habitacion : ${tipoHabitacion.habitaciones}" th:text="${habitacion}"></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>

</body>
</html>
