<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Servicios</h1>
        
        <!-- Botón para redirigir al formulario de creación de servicio -->
        <a th:href="@{/servicioForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nuevo Servicio</a>

        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre del Servicio</th>
                    <th>Horario</th>
                    <th>Capacidad</th>
                    <th>Reservas [Object Id]</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre la lista de servicios y mostramos los detalles -->
                <tr th:each="servicio : ${servicios}">
                    <td th:text="${servicio.nombre}"></td>
                    <td th:text="${servicio.horario}"></td>
                    <td th:text="${servicio.capacidad}"></td>
                    <td>
                        <!-- Iteramos sobre la lista de reservas dentro de cada servicio -->
                        <span th:each="idReserva : ${servicio.reservas}">
                            <!-- Mostramos los detalles de cada reserva -->
                            <span th:text="${idReserva}"></span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    
    
    </div>

    <hr>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>