<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>
</head>
<body>
   <div th:fragment="check_inForm(titulo)" class="container border boder-2 w-25">
        <h1 class="text-center" th:text="${titulo"></h1>
        <form>
            <label class="col-form.label">Id</label>
            <input class="form-control" type="number" id="id"
            name="id" required th:value="${check_ins.id}"/>
            <label class="col-form.label">Numero Documento</label>
            <input class="form-control" type="number" id="num_doc"
            name="num_doc" required th:value="${check_ins.num_doc}"/>
            <label class="col-form.label">Tipo Documento</label>
            <input class="form-control" type="text" id="tipo_doc"
            name="tipo_doc" required th:value="${check_ins.tipo_doc}"/>

            <label class="col-form.label">Fecha</label>
            <input class="form-control" type="text" id="fecha"
            name="fecha" required th:value="${check_ins.fecha}"/>

            <label class="col-form.label">Hora</label>
            <input class="form-control" type="text" id="hora"
            name="hora" required th:value="${check_ins.hora}"/>
            
        </form>
   </div>
</body>
</html>