<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>
</head>
<body>
   <div th:fragment="reserva_habitacionForm(titulo)" class="container border boder-2 w-25">
        <h1 class="text-center" th:text="${titulo"></h1>
        <form>
            <label class="col-form.label">Id Habitacion</label>
            <input class="form-control" type="text" id="id_habitacion"
            name="id_habitacion" required th:value="${reservas_habitacion.id_habitacion}"/>

            <label class="col-form.label">Id Usuario</label>
            <input class="form-control" type="number" id="id_usuario"
            name="id_usuario" required th:value="${reservas_habitacion.id_usuario}"/>

            <label class="col-form.label">Fecha Entrada</label>
            <input class="form-control" type="text" id="fecha_entrada"
            name="fecha_entrada" required th:value="${reservas_habitacion.fecha_entrada}"/>

            <label class="col-form.label">Fecha Salida</label>
            <input class="form-control" type="text" id="fecha_salida"
            name="fecha_salida" required th:value="${reservas_habitacion.fecha_salida}"/>

            <label class="col-form.label">Plan Consumo</label>
            <input class="form-control" type="number" id="plan_consumo"
            name="plan_consumo" required th:value="${reservas_habitacion.plan_consumo}"/>

            <label class="col-form.label">Numero de Personas</label>
            <input class="form-control" type="number" id="num_personas"
            name="num_personas" required th:value="${reservas_habitacion.num_personas}"/>

            <label class="col-form.label">Costo</label>
            <input class="form-control" type="number" id="costo"
            name="costo" required th:value="${reservas_habitacion.costo}"/>

            <label class="col-form.label">Id Cuenta</label>
            <input class="form-control" type="number" id="id_cuenta"
            name="id_cuenta" required th:value="${reservas_habitacion.id_cuenta}"/>

            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-primary"/>
                <a th:href="@{/reservas_servicioo}" class="btn btn btn-primary">Cancelar</a>
            </div>


        </form>
   </div>
</body>
</html>