<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragment</title>
</head>
<body>
   <div th:fragment="servicioForm(titulo)" class="container border boder-2 w-25">
        <h1 class="text-center" th:text="${titulo}"></h1>
        <form>
            <label class="col-form.label">Id</label>
            <input class="form-control" type="number" id="id"
            name="id" required th:value="${servicios.id}"/>
            <label class="col-form.label">Nombre</label>
            <input class="form-control" type="text" id="nombre"
            name="nombre" required th:value="${servicios.nombre}"/>
            <label class="col-form.label">Tipo</label>
            <input class="form-control" type="number" id="tipo"
            name="tipo" required th:value="${servicios.tipo}"/>
            
        </form>
   </div>
</body>
</html>